:root {
  /* colors */
  --clr-primary: #7D938A;
  --clr-secondary: #D64550;
  --clr-light: #FFFFFF;
  --clr-dark: #1E1E1E;
}

.secondary {
  background-color: var(--clr-secondary);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.button {
  margin-top: 12px;
  margin-bottom: 30px;
}

h1 {
  color: var(--clr-primary);
}

span {
  color: var(--clr-secondary);
}

a,
.button {
  color: inherit;
  text-decoration: none;
}

.danger {
  color: #F24E1E;
}

.success {
  color: #198754;
}

a:hover,
.button:hover {
  color: var(--clr-primary);
}

h1 {
  font-size: 2.4em;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px !important;
  color: var(--clr-dark) !important;
  background: var(--clr-light) !important;
}