:root {
  /* colors */
  --clr-primary: #4281A4;
  --clr-secondary: #48A9A6;
  --clr-light: #FFFFFF;
  --clr-dark: #1E1E1E;
}

.dark {
  background-color: var(--clr-dark);
}

.secondary {
  background-color: var(--clr-secondary);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.button {
  margin-top: 12px;
  margin-bottom: 30px;
}

h1 {
  color: var(--clr-primary);
}

span {
  color: var(--clr-secondary);
}

a,
.button {
  color: inherit;
  text-decoration: none;
}

.danger {
  color: #ef3737;
}

.success {
  color: #3ab958;
}

a:hover,
.button:hover {
  color: var(--clr-primary);
}

h1 {
  font-size: 2.4em;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px !important;
  color: var(--clr-light) !important;
  background: var(--clr-dark) !important;
}