@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
  /* colors */
  --clr-primary: #86BAA5;
  --clr-altprimary: #244739;
  --clr-secondary: #F46873;
  --clr-light: #FFFFFF;
  --clr-dark: #3A3A3A;
  --clr-dark-alt: #dcdcdc;
  --clr-danger: #F24E1E;
}

.todo {
  animation-delay: 500ms !important;
  animation: fade-in 1s !important;
  max-width: 1024px !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtask {
  margin-left: 5% !important;
}

.expandedSidebar {
  position: sticky;
  left: 0px !important;
  top: 0px !important;
  height: 100vh !important;
  z-index:99 !important;
}

.button_only {
  position: sticky;
  left: 0px !important;
  top: 0px !important;
  height: 100vh !important;
  z-index:99 !important;
  width: fit-content !important;
}

.bigButton {
  width: 65px !important;
  height: 55px !important;
}

.smallButton {
  margin-right: 10px !important;
}

.login {
  height: 100vh !important;
  width: 100vw !important;
}

.imageContainer {
  width: 58.3% !important;
  display: flex !important;
  align-items: center !important;
  vertical-align: center !important;
  margin: 0px !important;
}

.loginImage {
  width: 90% !important;
  height: auto !important;
  position: relative !important;
  object-fit: cover !important;
  vertical-align: center !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.sidebar-icon {
  color: var(--clr-light) !important;
  float: right !important;
  height: 30px !important;
  width: 30px !important;
}

.sign {
  padding: 3vw !important;
  text-align: center !important;
  height: 100vh !important;
  width: 41.7% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.row {
  margin:0 !important;
}

.col-lg-10 {
  margin-right: 25px !important;
}

@media screen and (min-width: 992px) {
  .button_only {
    position: sticky;
    left: 0px;
    top: 0px;
    height: 100vh;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    width: 0 !important;
    visibility: hidden !important;
  }

  .sign {
    width: 100% !important;
    margin-right: 0 !important;
    background: linear-gradient(var(--clr-dark), var(--clr-altprimary))  !important;
  }
}

h1 {
  font-size: 48px;
  font-weight: 700;

}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.bglight {
  background-color: var(--clr-light) !important;
}

.bgdark {
  background-color: var(--clr-dark) !important;
}

.bgdark-alt {
  background-color: var(--clr-dark-alt) !important;
}

.bgsecondary {
  background-color: var(--clr-secondary) !important;
}

.bgprimary {
  background-color: var(--clr-primary) !important;
}

.light {
  color: var(--clr-light) !important;
}

.dark {
  color: var(--clr-dark) !important;
}

.primary {
  color: var(--clr-primary) !important;
}

.secondary {
  color: var(--clr-secondary) !important;
}

button {
  background-color: var(--clr-dark);
}

h1 {
  color: var(--clr-primary);
}

a {
  color: inherit;
  text-decoration: none !important;
  border: none;
  transition: color 300ms ease-in-out !important;
}

.button {
  background-color: var(--clr-secondary) !important;
  color: white !important;
  text-decoration: none;
  border: none !important;
  box-shadow: 0px 0px 0px var(--clr-dark);
  transition: box-shadow 300ms ease-in-out;
}

.button-none {
  background: none;
  text-decoration: none;
  border: none !important;
  box-shadow: 0px 0px 0px var(--clr-dark);
  transition: box-shadow 300ms ease-in-out;
}

.button-primary {
  background-color: var(--clr-primary) !important;
  color: white !important;
  text-decoration: none;
  border: none !important;
  box-shadow: 0px 0px 0px var(--clr-dark);
  transition: box-shadow 300ms ease-in-out;
}

.button-danger {
  background-color: var(--clr-danger) !important;
  color: white !important;
  text-decoration: none;
  border: none !important;
  box-shadow: 0px 0px 0px var(--clr-dark);
  transition: box-shadow 300ms ease-in-out;
}

.button:hover {
  box-shadow: 0px 2px 16px var(--clr-dark);
  color: var(--clr-secondary) !important;
  background: none !important;
}

.button-none:hover {
  box-shadow: 0px 2px 16px var(--clr-light);
  background: none !important;
  color: white !important;
}


.button-primary:hover {
  box-shadow: 0px 2px 16px var(--clr-dark);
  color: var(--clr-primary) !important;
  background: none !important;
}

.button-danger:hover {
  box-shadow: 0px 2px 16px var(--clr-dark);
  color: var(--clr-danger) !important;
  background: none !important;
}

.danger {
  color: #F24E1E;
}

.success {
  color: #198754;
}

a:hover {
  color: var(--clr-primary) !important;
}

h1 {
  font-size: 2.4em;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  color: var(--clr-dark);
  background: var(--clr-light) !important;
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
}

hr {
  color: white;
  border-top: 5px solid;
  opacity: 100;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input{
  max-width: 1024 !important;
  background-color: var(--clr-dark-alt) !important;
  color: var(--clr-dark) !important;
}

input[type="time"] {
  border: none !important;
  width: 150px !important;
  height: 30px;
  border-radius: 5px !important;
}

input[type="date"] {
  border: none !important;
  width: 150px !important;
  height: 30px;
  border-radius: 5px !important;
}

input[type="text"] {
  max-width: 1024px !important;
}

input[type="password"] {
  max-width: 1024px !important;
}

input[type="email"] {
  max-width: 1024px !important;
}